/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}


.post-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* 让公式和文字 baseline 对齐 */
    gap: 0.1em; /* 可选：微调公式和文字间距 */
  }
  
  .post-title .MathJax {
    display: inline-block;
    vertical-align: middle; /* 或者 baseline，试一下 */
  }