/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

body {
    background-image: url('/images/background.jpg'); /* 替换为你的图片路径 */
    background-size: cover; /* 让背景铺满整个页面 */
    background-position: center;
    background-attachment: fixed; /* 让背景固定不随滚动条滚动 */
}
